*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'quicksand';
}

body>header {
    color: azure;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Oswald';
    padding: 8px;
    font-size: 24px;
    max-width: 1280px;
}

.menus {
    color: azure;
    background-color: rgb(19, 19, 19);
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading iframe {
    border-radius: 6px;
}

.linha_superior_central {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading input {
    padding: 8px;
    font-size: 14px;
    border-radius: 16px;
    font-family: 'quicksand';
    margin: 8px;
    display: flex;
}

.heading button {
    padding: 8px;
    font-family: 'quicksand';
    font-weight: 500;
}

.heading button:hover {
    padding: 8px;
    color: aliceblue;
    background-color: #ff0808;
}

.left_sidebar ul {
    display: flex;
    flex-direction: column;
    margin: 18px;
    border: 2px solid azure;
    border-style: inset;
    border-radius: 8px;
    padding: 18px;
    list-style: none;
    align-items: center;
}

#labelnotesc {
    padding-top: 10px;
    padding-bottom: 8px;
}

#notesc {
    padding: 8px 8px;
    border-radius: 6px;
}

.right_sidebar ul {
    display: flex;
    flex-direction: column;
    margin: 18px;
    border: 2px solid azure;
    border-style: inset;
    border-radius: 8px;
    padding: 18px;
    list-style: none;
    align-items: center;
}

.blockplay1{
    display: flex;
    flex-direction: row;
}

.blockplay1 input, button{
    margin: 10px 0px 10px 10px;
}

#nameplay1 {
    padding-top: 10px;
    padding-bottom: 8px;
}

#videoframeru {
    padding-bottom: 10x;
    border-radius: 20px;
}

.blockplay2 {
    display: flex;
    flex-direction: row;
}

.blockplay2 input, button {
    margin: 10px 0px 10px 10px;
}

#nameplay2 {
    padding-top: 10px;
    padding-bottom: 8px;
}

#videoFrameru, #videoFramerd {
    padding-bottom: 10px;
    border-radius: 20px;
}