*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'quicksand';
}

body>header {
    color: azure;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Oswald';
    padding: 8px;
    font-size: 24px;
    max-width: 1280px;
}

.menus {
    color: azure;
    background-color: rgb(19, 19, 19);
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading iframe {
    border-radius: 6px;
}

.heading h2 {
    padding-top: 24px;
    padding-bottom: 8px;
    font-size: 36px;
}

.left_sidebar ul {
    display: flex;
    flex-direction: column;
    margin: 18px;
    border: 2px solid azure;
    border-style: inset;
    border-radius: 8px;
    padding: 18px;
    list-style: none;
    align-items: center;
}

#labelnotes {
    padding-top: 10px;
    padding-bottom: 8px;
}

#notes {
    padding-bottom: 10x;
    border-radius: 6px;
}

.right_sidebar ul {
    display: flex;
    flex-direction: column;
    margin: 18px;
    border: 2px solid azure;
    border-style: inset;
    border-radius: 8px;
    padding: 18px;
    list-style: none;
    align-items: center;
}

#nameplay1 {
    padding-top: 10px;
    padding-bottom: 8px;
}

#play1 {
    padding-bottom: 10x;
    border-radius: 20px;
}

#nameplay2 {
    padding-top: 10px;
    padding-bottom: 8px;
}

#play1, #play2 {
    padding-bottom: 10px;
    border-radius: 20px;
}